* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1ece4;
    opacity: 1;
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
    linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
    linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
    radial-gradient(rgb(128, 128, 128) 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
  }

  /* Style the side navigation */
  nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #050505;
    overflow-x: hidden;
  }


  /* Side navigation links */
  nav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color on hover */
  nav a:hover {
    background-color: #95cdc5 ;
    color: black;
  }

  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;

  }
  table, th, td {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background-color: rgb(216, 216, 216);

  }
  th, td {
    padding: 5px;
  }
  th {
    background-color: #9ee0e4e3;
    color: black;
  }
  h1 {
    display: flex;
    background-color: black;
    color: #9ee0e4e3;
    justify-content: center;
  }
  p > a {
    display: flex;
    background-color: black;
    color: #9ee0e4e3;
    justify-content: center;
  }
