{% extends 'base.html' %}
{% block content %}
<main class="content">
    <div>
        <h1>My Tasks</h1>
        {% if tasks.all|length == 0 %}
        <p>You Have No Tasks</p>
        {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Is Completed</th>
            </thead>
            <tbody>
                {% for item in tasks %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}